body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #888; !* Set the background color to a light gray *!*/
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center; /* Center align the content */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

main {
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the width */
    margin-top: 100px; /* Add some space between header and main content */
}

.login-header {
    text-align: center;
}

.login-form {
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    padding: 8px;
}

.button-group {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
